<div class="container mx-auto">

    <app-carrousel-home></app-carrousel-home>

<div class="text-black mb-16 rounded lg:mt-24">
    <div class="grid grid-cols-1 grid-rows-2">
        <div class="mx-5 my-5">
            <img id="pantallas" style="height: 350px; width:50%; margin: 0 auto;" class="rounded border-4 border-gray-800" src="https://imgs.search.brave.com/1VdCTy-gFkAp2Paxf4F8PbldmVHf9JeuCEwu7p2JmBU/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9yZXMu/Y2xvdWRpbmFyeS5j/b20vY2Fub25pY2Fs/L2ltYWdlL2ZldGNo/L2ZfYXV0byxxX2F1/dG8sZmxfc2FuaXRp/emUsd18yNTU3LGhf/MTMyMS9odHRwczov/L2Fzc2V0cy51YnVu/dHUuY29tL3YxL2Fj/ZGY5NDZhLVNjcmVl/bnNob3QrZnJvbSsy/MDIyLTA0LTE4KzEz/LTA1LTE3LnBuZw" alt="imagen-ubuntu">
            <code class="text-gray-400 ml-96">Ubuntu</code>
        </div>
    
        <div class="mx-5">
            <img id="pantallas" style="height: 350px; width:50%; margin: 0 auto;" class="rounded border-4 border-gray-800" src="https://imgs.search.brave.com/FpEHE1f0JP1G7bFzZPzmyUg3hGLZiuZgWRonc8pfnuI/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93d3cu/dGVjbWludC5jb20v/d3AtY29udGVudC91/cGxvYWRzLzIwMTMv/MDMvS2FsaS1MaW51/eC1MaWdodC1UaGVt/ZS5wbmc" alt="imagen-kali">
            <code class="text-gray-400 ml-96">Kali</code>
        </div>
    </div>
</div>
</div>

<div class="h-16 w-full p-2 bg-gray-800 flex">
    <img class="w-16 h-12" src="https://imgs.search.brave.com/53VODsJTC2klsBwv5-fLqSidpzovdMN4JGHTu32q3TQ/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93d3cu/Y2FzYXJvc2FkYS5n/b2IuYXIvaW1hZ2Vz/L2JhbmRlcmFhcmdl/bnRpbmEucG5n" alt="">
    <p class="text-3xl mt-1 ml-5">Santiago Semb &copy;</p>
</div>