<app-ayuda></app-ayuda>

<div class="container mx-auto">

    <div class="my-5 mt-12">
        <div class="w-full text-center h-16 rounded text-black flex">
            <img class="h-16 w-16" src="https://imgs.search.brave.com/5YKGmgEXq2sI1ZirbwENwpRzgDrIf3zTv5Yf3hePLzk/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuc3RpY2twbmcu/Y29tL2ltYWdlcy81/ODQ3Zjk4ZmNlZjEw/MTRjMGI1ZTQ4YzAu/cG5n" alt="">
            <a id="links-github" class="mt-5 ml-5" href="https://github.com/santiago-semb" target="_blank">https://github.com/santiago-semb</a>
        </div>
        <br>
        <hr>
        <br>
        <div class="w-full text-center h-16 rounded text-black flex">
            <img class="h-16 w-16" src="https://imgs.search.brave.com/0onedxgdJWLsAOrzVTbco23TxXLuDJGb_uBUL74bc7k/rs:fit:500:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9j/L2NhL0xpbmtlZElu/X2xvZ29faW5pdGlh/bHMucG5n" alt="">
            <a id="links-linkedin" class="mt-5 ml-5" href="https://www.linkedin.com/in/santiago-sembini-0abb57262/" target="_blank">https://www.linkedin.com/in/santiago-sembini-0abb57262/</a>
        </div>
        <br>
        <hr>
        <br>
        <div class="w-full text-center h-16 rounded text-black flex">
            <img class="h-16 w-16" src="https://imgs.search.brave.com/mTdYQvhbzNV9h0ZctWfiWrDYffkTx_vfQ4wNTCBYzWo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuc3RpY2twbmcu/Y29tL2ltYWdlcy81/ODBiNTdmY2Q5OTk2/ZTI0YmM0M2M1MjEu/cG5n" alt="">
            <a id="links-linkedin" class="mt-5 ml-5" href="https://www.instagram.com/santiago.sembini/" target="_blank">https://www.instagram.com/santiago.sembini/</a>
        </div>
        <br>
        <hr>
        <br>
        <div class="w-full text-center h-16 rounded text-black flex">
            <i class="h-16 w-16 text-5xl fa-solid fa-diagram-project"></i>
            <a id="links-web" class="mt-5 ml-5" href="https://portfolio-santiago.up.railway.app/" target="_blank">https://portfolio-santiago.up.railway.app/</a>
        </div>
        <br>
        <hr>
    </div>

</div>