<div class="h-auto w-full pt-24 text-black grid grid-cols-2">
             
    <div class="w-full mt-5 text-2xl p-4 pt-0 ml-24 container-linux-info">
        <p id="linux-info">
            Linux es el nombre que reciben una serie de sistemas operativos de tipo Unix bajo la licencia GNU GPL (General Public License o Licencia Pública General de GNU) que son su mayoría gratuitos y con todo lo necesario para hacer funcionar un PC, con la peculiaridad de que podemos instalar un sistema muy ligero e ir añadiendo todo lo necesario posteriormente o según lo vayamos necesitando.
        </p>
    </div>



    <div class='contenedor-imagenes-opacity' id="imagenes-distribuciones">
        <img class="imagen-cambiante-opacity" src="https://imgs.search.brave.com/A2Mcy4lmL8QiAw3yoazHwnWHDYA9IUDi6deDZujQo3o/rs:fit:500:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy85/LzllL1VidW50dUNv/Ri5zdmc.svg" alt="">
        <img class="imagen-cambiante-opacity" src="../../assets/logos/kali.png" alt="">        
        <img class="imagen-cambiante-opacity" src="https://imgs.search.brave.com/zxc6h6aXO09iCfmPSGDmzRDEc90KHFN9Pm2mWmqtnK4/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9icmFu/ZHNsb2dvcy5jb20v/d3AtY29udGVudC91/cGxvYWRzL2ltYWdl/cy9kZWJpYW4tbG9n/by5wbmc" alt="">
        <img class="imagen-cambiante-opacity" src="https://imgs.search.brave.com/ubR_R9HlJk7loYanNiRWUKwOGjcVwuH9bYU67xkGB4s/rs:fit:500:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy8z/LzNmL0ZlZG9yYV9s/b2dvLnN2Zw.svg" alt="">
        <img class="imagen-cambiante-opacity" src="https://imgs.search.brave.com/BISb-H4j8BOx-rbQ-Hz7jH7VV9RDPYHjGG3mWNiXSCs/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93d3cu/bG9nby53aW5lL2Ev/bG9nby9DZW50T1Mv/Q2VudE9TLUxvZ28u/d2luZS5zdmc.svg" alt="">
        <img class="imagen-cambiante-opacity" src="https://imgs.search.brave.com/uErtwFMyTkOaIepF2r5C4ZqfsYbz2NWPk7Fnco3YWro/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93d3cu/cmVkaGF0LmNvbS9j/bXMvbWFuYWdlZC1m/aWxlcy9Bc3NldC1S/ZWRfSGF0LUxvZ29f/cGFnZS1Mb2dvLVJH/Qi5zdmc.svg" alt="">
        <img class="imagen-cambiante-opacity" src="https://imgs.search.brave.com/Zto7HUaZbLGAk0YUq3I2nrkB7vxfTWiCjtahLN3nJ3g/rs:fit:500:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy80/LzQ4L0dlbnRvb19M/aW51eF9sb2dvX21h/dHRlLnN2Zw.svg" alt="">
        <img class="imagen-cambiante-opacity" src="https://imgs.search.brave.com/17IjPD1_vmlUarN9uhdoLsZoJixRIyn7gqtmFlBMjNo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy8z/LzNlL01hbmphcm8t/bG9nby5zdmc.svg" alt="">
    </div>  

</div>
<hr>


