<app-ayuda></app-ayuda>

<div class="my-5">
    <div class="p-8 bg-blue-950 flex">
        <img class="h-24 w-34" src="https://imgs.search.brave.com/98KR3ayS0MGxY8q7JT0nhWczzetUgRN-452j1WvWyUY/rs:fit:500:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9k/L2Q1L1ZpcnR1YWxi/b3hfbG9nby5wbmc" alt="virtual box">
        <p class="text-2xl ml-12">Oracle VM VirtualBox (conocido generalmente como VirtualBox) es un software de virtualización para arquitecturas x86/amd64. Actualmente es desarrollado por Oracle Corporation como parte de su familia de productos de virtualización.</p>
    </div>
    <div class="p-8 bg-gray-800 mt-2 flex">
        <img class="h-24 w-34" src="https://imgs.search.brave.com/95bPqVqXChwQ9XuuqhCOjTmJVCkBHKS7ImfDDSawRvk/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9sb2dv/cy1tYXJjYXMuY29t/L3dwLWNvbnRlbnQv/dXBsb2Fkcy8yMDIy/LzAzL1ZNd2FyZS1M/b2dvLTUwMHgyODEu/cG5n" alt="vmware">
        <p class="text-2xl ml-12">VMware Inc. es una filial de EMC Corporation (propiedad a su vez de Dell Inc) que proporciona software de virtualización disponible para ordenadores compatibles X86. Entre este software se incluyen VMware Workstation, y los gratuitos VMware Server y VMware Player.</p>
    </div>
    <div class="p-2 mt-2 bg-black absolute bottom-0 w-full text-center">
        <p>Una máquina virtual no es más que un software capaz de cargar en su interior otro sistema operativo haciéndole creer que es un PC de verdad. Tal y como su nombre indica, el concepto es tan sencillo como crear una máquina (PC, consola, móvil o lo que sea) que en vez de ser física es virtual o emulada.</p>
    </div>
</div>