<form action="" class="pt-24 text-black">
    <div>
        <label for="name">Nombre</label>
        <input type="text" name="nombreComando" [(ngModel)]="nombreComando" placeholder="Nombre comando">
    </div>
    <div>
        <label for="category">Categoria</label>
        <input type="text" name="categoriaComando" [(ngModel)]="categoriaComando" placeholder="Categoria comando">
    </div>
    <div>
        <label for="description">Descripcion</label>
        <textarea type="text" name="descripcionComando" [(ngModel)]="descripcionComando" placeholder="Descripcion comando"></textarea>
    </div>
</form>

<form action="" class="my-4 text-black">
    <div>
        <h6>gdfgdsfg</h6>
    </div>
    <div>
        <h6>gdfsgsdfg</h6>
    </div>
    <div>
        <h6>fdsgsdgsd</h6>
    </div>
    <button type="submit" class="mt-4" (click)="submit()">Crear</button>
</form>